.cloudtextdiv {
  position: relative;
  margin-top: 3rem;
}
.cloudtext {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
  letter-spacing: -0.0025em;
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
    margin-top: 7rem;
  }
}

.cloudcontainer {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background: #1d1a1a;
  border: 0.188rem dashed #ffffff;
  border-radius: 0.625rem;
  height: 16.813rem;
  align-items: center;
  @media screen and (min-width: 750px) {
    margin: 1rem auto;
    width: 40%;
  }
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud_image {
  margin-top: 2.938rem;
  cursor: pointer;
  align-items: center;
}

.cloudtext1 {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.0015em;
  margin-top: -2rem;
}

.cloudtext2 {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  letter-spacing: 0.0015em;
  margin-top: -3rem;
}

.upload_btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  // margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.back_btn {
  width: 6.25rem;
  height: 2.5rem;
  background: black;
  border-radius: 0.625rem;
  border: 1px solid var(--clr-primary);
  color: white;
  cursor: pointer;
}

.back_btn:hover {
  background-color: #ffffff;
  color: blue;
}

.next_btn {
  width: 6.25rem;
  height: 2.5rem;
  background: #6600e8;
  border-radius: 0.625rem;
  border: none;
  color: white;
  cursor: pointer;
}

.next_btn:hover {
  background: white;
  color: #6600e8;
}

.input_field {
  opacity: 0;
}

.musicContainer {
  width: 10rem;
  justify-content: center;
  border-radius: 5px;
  margin: auto;
}

.musicInfo{
  margin: auto;
}

.musicImage{
  width: 8rem;
  height: 8rem;
}