/* slider wrapper */
.wrapper {
  height: auto;
  background-color: var(--cl-dark);
  color: var(--cl-light);
  position: relative;
}

/* carousel images overhead container */
.splider_wrapper {
  display: flex;
}

.splide_image {
  border-radius: 1pc;
}

.carousel_body {
  width: 100%;
}

.header h4 {
  font-weight: var(--ft-h4);
  padding-top: 1rem;
  margin-left: 1rem;
  text-shadow: 1px 1px 2px var(--cl-btn-brd), 0 0 25px var(--clr-info),
    0 0 5px var(--clr-primary);
}

.carosel_content {
  position: absolute;
  top: 4rem;
  margin-left: 1rem;
}

.carosel_content p {
  font-size: 1.5rem;
  font-weight: var(--ft-b-sm);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.carosel_content h5 {
  font-weight: var(--ft-b-sm);
  font-weight: var(--ft-h5);
  margin-top: 1rem;
}
