.producer_container {
  height: 29.625rem;
  background: #434343;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  margin-right: 1.625rem;
  width: 100%;
  // margin-bottom: 1.5rem;
}

.producer_div {
  margin-left: 1.5rem;
  padding-top: 0.5rem;
}
.producer_text {
  color: white;
  font-size: 1.5rem;
}

.producer_wrapper {
  display: flex;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.producertext {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.producer1_text1 {
  color: white;
}

.producer1_text2 {
  color: grey;
  margin-top: 0.063rem;
}
