.btn_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn {
  padding: 1em 2em;
  border-radius: 0.5em;
  line-height: 1.3;
  /* background: #6600e8; */
  color: var(--cl-light);
  font-weight: 600;
  font-size: 1rem;
  z-index: 1;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border: 1px solid #6600e8;
}
.continue_shopping:hover {
  background-color: white;
  color: black;
}
