.wrap{
    width: 40rem;
    background-color: #434343;
}

.header{
    color: var(--cl-light);
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-left: 4rem;
    margin-bottom: -2rem;
}

.bars{
    width: 90%;
    height: 25rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}