.container{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.cartreview {
  margin-top: 3rem;
  margin-bottom: 3.063rem;
  h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.0025em;
    color: var(--cl-light);
    margin-bottom: 24px;
  }
}

.cartsummary {
  margin-bottom: 55px;
}

.recentlyviewed {
  margin-bottom: 40px;
  h2 {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 0.0015em;
    margin-bottom: 24px;
    color: var(--clr-f-light);
  }
}

@media (min-width: 64rem) {
  .container{
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .wrapper{
    display: flex;
  }
  .cartreview{
    flex: 2;
  }
  .cartsummary{
    flex: 1;
  }
}
