.review {
  margin: 70px 0 60px;
  padding: 0 1rem;

  &__beat {
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 40px;
      letter-spacing: 0.0015em;
      margin-bottom: 15px;
      color: var(--cl-light);
    }
  }

  &__buyoptions {
    h4 {
      font-weight: 700;
      line-height: 38px;
      letter-spacing: -0.0025em;
      color: var(--cl-light);
      margin: 20px 0px 10px 0px;
    }

    .terms {
      font-size: 1.25rem;
      line-height: 25px;
      letter-spacing: 0.005em;
      background: linear-gradient(
        155.77deg,
        #f5de78 8.4%,
        #b5812d 46.49%,
        #f5de78 84.48%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin: 0px 0 15px;
    }
  }

  &__boxes {
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  &__cost {
    h2 {
      font-size: 12px;
      font-weight: 100;
      line-height: 20px;
      color: var(--clr-f-light);
    }

    p {
      font-size: 1rem;
      line-height: 30px;
      letter-spacing: 0.005em;
      color: var(--clr-f-light);
      margin-bottom: 37px;
    }
    .add_btn,
    .continue_btn {
      padding: 15px 24px;
      width: 15rem;
      height: 50px;
      border-radius: 8px;
      outline: none;
      border: none;
      color: var(--cl-light);
      font-size: 1.3rem;
      cursor: pointer;
    }

    .add_btn {
      background: var(--clr-primary);
      margin-bottom: 30px;
    }

    .continue_btn {
      border: 2px solid #6600e8;
      background-color: transparent;
      line-height: 30px;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;
    }
  }
}



@media (min-width: 48rem) {
  .review{
    &__boxes{
      grid-template-columns: repeat(3, 1fr);
    }

    &__btnwrap{
      display: flex;
      gap: 2rem;
    }
  }
}