.containerbeatcard {
  width: 100%;
}

.genre_header {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
}

.list_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;

  a {
    color: #949494;
  }
}

.genrebeat {
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 16x;
  display: flex;
  color: grey;
  align-items: baseline;
  list-style-type: none;
  margin-top: 0.2rem;
}

.genrebeat li {
  margin-left: 1rem;
}

.genrebeat li a:hover {
  color: white;
}

.selectus {
  // width: 2rem;
  // margin-left: 1rem;
  margin-top: -0.6rem;
}

.selectus > select {
  width: 6.813rem;
  height: 48px;
  background: #e2e2e2;
  border-radius: 0.5rem;
  flex: none;
  order: 1;
  flex-grow: 0;
  outline: none;
  border: none;
  color: black;
}

.spancircle {
  font-size: 0.625rem;
  /* background-color: white; */
}

.containerbeatcard1 {
  background: #434343;
  border-radius: 0.5rem;
  margin-top: 46px;
}

.card_header {
  display: flex;
  color: #ffffff;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 100;
  font-family: 'Source Sans Pro';
}

.imagebeatcard {
  margin-left: 0.688rem;
  margin-top: 1rem;
  color: white;
}

.preview {
  text-align: center;
  margin-top: -3rem;
  margin-right: -3rem;
  color: white;
  font-family: 'Source Sans Pro';
}

.imageovertext {
  position: relative;
  text-align: center;
  color: white;
  margin-top: -.5rem;

  img {
    width: 90%;
  }
}

.bottomleft {
  bottom: 1.875rem;
  margin-left: -5rem;
  position: relative;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  align-items: center;
  letter-spacing: 0.001;
}

.iconwrapper {
  position: relative;
  margin-top: -5rem;
  margin-left: 2rem;
}

.iconovertext {
  margin-left: -15.625rem;
  margin-top: 0.131rem;
}

.released {
  color: grey;
  font-family: 'Source Sans Pro';
  margin-left: 1.625rem;
  font-size: 1rem;
}

.footerwrapper {
  position: absolute;
  display: flex;
  gap: 1.25rem;
  margin-top: .5rem;
}

.footerwrappertext {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 0.938rem;
  color: #ffffff;
  margin-left: 1.563rem;
  margin-top: 1.25rem;
}

.btn_footer {
  color: white;
  background-color: #6600e8;
  border-radius: 0.5rem;
  width: 8.188rem;
  height: 3rem;
  border: none;
  margin-top: 0.3rem;
}

.downicons {
  display: flex;
  margin-top: 4.5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  gap: 6rem;
  justify-content: flex-start;
}

.footericontext1 {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 1rem;
}

.make_circle {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.footericon1 {
  width: 0.2rem;
  height: 0.1rem;
  margin-top: 0.3rem;
  position: relative;
}

.footertext1 {
  position: absolute;
  color: white;
  margin-left: 2rem;
  font-weight: 100;
}
