.addaccount_container {
  background: white;
  width: 100%;
  height: 100vh;
  margin-top: 3rem;
}

.addaccountdiv {
  padding-top: 70px;
  padding-left: 16px;
}

.addaccountnumber {
  color: black;
  background-color: white;
  box-sizing: border-box;
  width: calc((195vw - 3rem) / 2);
  height: 52px;
  left: 16px;
  top: 92px;
  border: 1px solid #949494;
  border-radius: 10px;
}

.addaccountnumber::-webkit-outer-spin-button,
.addaccountnumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addaccountdiv1 {
  margin-top: 1rem;
  margin-left: 1rem;
}
.addaccountnumber1 {
  color: black;
  background-color: white;
  box-sizing: border-box;
  width: calc((195vw - 3rem) / 2);
  height: 52px;
  left: 16px;
  top: 92px;
  border: 1px solid #949494;
  border-radius: 10px;
}

.selectus {
  margin-top: -0.6rem;
}

.selectus > select {
  width: calc((195vw - 3rem) / 2);
  height: 52px;
  background: white;
  border-radius: 0.5rem;
  flex: none;
  order: 1;
  flex-grow: 0;
  outline: none;
  color: black;
  border-color: black;
  margin-left: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.addaccountdiv2 {
  margin-top: 2.2rem;
  margin-left: 1rem;
}

.addaccountname {
  color: black;
  background-color: white;
  box-sizing: border-box;
  width: calc((195vw - 3rem) / 2);
  height: 52px;
  border: 1px solid #949494;
  border-radius: 10px;
}

@media screen and (min-width: 750px) {


  .addaccountnumber {
    margin-left: 40px;
    width: calc((180vw - 2rem) / 2);
  }
  
  .selectus {
    margin-left: 40px;
  }

  .selectus > select {
    width: calc((180vw - 2rem) / 2);
  }

  .addaccountname {
    margin-left: 40px;
    width: calc((180vw - 2rem) / 2);   
  }

}
