.wrapperbuyingoptiontext {
  margin-left: 1rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.wrapper_box {
  display: flex;
}
.button_option {
  size: 0.563rem;
  margin-left: 1rem;
  border-radius: 3.125rem;
  height: 1rem;
  border: 0.125rem solid white;
  // border-width: thick;
}

.wrapper_buyingoptiontext1 {
  margin-top: -1.1rem;
  margin-left: 0.7rem;
}

.buttonshopping {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  position: absolute;
  width: 12rem;
  height: 3rem;
  left: 1.125rem;
  background: #6600e8;
  border-radius: 0.5rem;
  border: none;
}

.buttonshopping_1 {
  margin-bottom: 9rem;
  font-size: 1.2rem;
  width: 15rem;
  height: 3rem;
  left: 1.125rem;
  background: black;
  border-radius: 0.5rem;
  border-color: blue;
}

.emmy {
  margin-top: 5rem;
  margin-left: 0.99rem;
}

//RADIO SELECT

.radiobox {
  display: flex;
  input[type='radio'] {
    display: none;

    &:checked {
      + .box {
        border: 1px solid #6600e8;
        span {
          color: white;
          transform: translateY(70px);
          &:before {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
    }
  }

  &__item {
    h3,
    h6,
    p {
      color: var(--cl-light);
      text-align: start;
      margin-bottom: 0.5rem;
    }

    h6 {
      font-weight: 100;
    }

    h6 {
      font-size: 1rem;
      line-height: 20px;
    }
    p {
      font-weight: 200;
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 0.0175em;
      color: var(--clr-f-light);
    }
  }

  .box {
    // width: 159px;
    padding: 1rem;
    border-radius: 8px;
    border-radius: 8px;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    font-weight: 100;
    cursor: pointer;
    position: relative;
    &:active {
      transform: translateY(10px);
    }
    span {
      transition: all 300ms ease;
      font-size: 1.5em;
      user-select: none;
      color: var(--cl-light);
      &:before {
        font-size: 1.2em;
        font-family: FontAwesome;
        display: block;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 300ms ease-in-out;
        font-weight: normal;
        color: white;
      }
    }
  }
  .frontend {
    span {
      &:before {
        content: '\f121';
      }
    }
  }
  .backend {
    span {
      &:before {
        content: '\f0f4';
      }
    }
  }
}


