.wrapperbuyingoptiontext {
  margin-left: 1rem;
  margin-top: 1.5rem;
  font-size: 24px;
}

.wrapper_box {
  display: flex;
}
.button_option {
  size: 9px;
  margin-left: 1rem;
  border-radius: 50px;
  height: 16px;
  border: 2px solid white;
  // border-width: thick;
}

.wrapper_buyingoptiontext1 {
  margin-top: -1.1rem;
  margin-left: 0.7rem;
}

.buttonshopping {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  position: absolute;
  width: 12rem;
  height: 3rem;
  left: 18px;
  background: #6600e8;
  border-radius: 8px;
  border: none;
}

.buttonshopping_1 {
  margin-bottom: 9rem;
  font-size: 1.2rem;
  width: 15rem;
  height: 3rem;
  left: 18px;
  background: black;
  border-radius: 8px;
  // border:none;
  border-color: blue;
}

.emmy {
  margin-top: 5rem;
  margin-left: 0.99rem;
}
