.summarywrap {
  background: #1b1b1b;
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 1rem;

  h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    letter-spacing: 0.0015em;
    color: var(--cl-light);
  }
}

.numberwrapper,
.numberwrapper1 {
  margin-top: 1rem;
  color: var(--cl-light);
}

.numberwrapper,
.numberwrapper1,
.numberwrapper2 {
  display: flex;
  justify-content: space-between;
}

.numberwrapper2 {
  color: #ddc8f9;
  margin-top: 35px;
}

.summarytextwrapper {
  margin-top: 1.5rem;
}
.summarytext7 {
  color: grey;
  font-size: 1.15rem;
}

.summarytext8 {
  color: blue;
}

.btncheckout1 {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--clr-primary);
  border-radius: 0.5rem;
  padding: 1rem 0;
  width: 100%;
  border: none;

  // Button text
  font-family: 'Source Sans Pro';
  font-size: 1.25rem;
  line-height: 25px;
  letter-spacing: 0.005em;
  color: var(--cl-light);
}

.summarytext9 {
  color: grey;
  font-size: 1.15rem;
}
