.checkout_container {
  background: white;
  width: 100%;
  height: 100vh;
}

.addaccountdiv {
  padding-top: 70px;
  padding-left: 16px;
}

.addaccountnumber {
  color: black;
  background-color: white;
  box-sizing: border-box;
  width: calc((195vw - 3rem) / 2);
  height: 52px;
  left: 16px;
  top: 92px;
  border: 1px solid #949494;
  border-radius: 10px;
}
