.cardContainer {
  // padding: 0 16px;
  padding: 50px 16px;
}

@media (min-width: 768px) {
  .cardContainer {
    padding: 0 106px;
  }
}
@media (min-width: 1280px) {
  .cardContainer {
    padding: 0 192px;
  }
}
