.wrap{
    width: 35rem;
    background-color: #434343;
}

.header{
    color: var(--cl-light);
    font-size: 1.8rem;
    padding-top: .1rem;
    padding-left: 4rem;
    margin-bottom: -2rem;
}

.bars{
    width: 95%;
    height: 20rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}