.Search_text {
  margin-left: 1rem;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  line-height: 1.563rem;
}

.searchcontainer1 {
  margin-left: 1rem;
}

.search_div {
  color: white;
  font-size: 1.25rem;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
}

.search_div1 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #949494;
}
