.trendingsearchcontainer {
  width: 15.75rem;
  background: #1b1b1b;
  border-radius: 8px;
  padding: 1rem 1rem 2.75rem;
}

.Search_text {
  color: var(--cl-light);
}

.Search_text,
.search_div > p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0015em;
}

.searchcontainer1 {
  margin-top: 2rem;
}

.search_div {
  color: var(--clr-f-light);
}
