
    .wrapper{
        width: 85vw;
        color: var(--cl-light);
        display: flex;
        justify-content: center;
        gap: 5rem;
        margin: auto;
        font-size: var(--ft-b-sm);
        
    }

    .footer_first, .footer_second{
        display: flex;
        gap: 5rem;
    }

    
@media (max-width: 48rem) {
    .wrapper{
        gap: 2rem;
        justify-content: flex-start;
    }

    .footer_first, .footer_second{
        gap: 2rem;
    }

}



@media (max-width: 650px) {

    .wrapper{
        justify-content: space-between;
        gap: 2rem;
    }
    .footer_first, .footer_second{
        flex-direction: column;
        gap: 0rem;
    }

    .footer_first div, .footer_second div{
        margin-bottom: -1.5rem;
    }
    
}