.profile {
  margin: 24px 16px 32px 16px;

  h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.75rem;
    letter-spacing: -0.0025em;
    color: var(--clr-f-light);
    // margin-top: 1.875rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;

    font-size: clamp(36px, 3vw, 36px);
    line-height: 44px;

    @media (min-width: 60.563em) {
      display: none;
    }
  }

  h2 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.0015em;
    color: var(--cl-light);
    margin-bottom: 24px;
    margin-top: 24px;
  }

  &__hero {
    background-image: url("/profilehero.png");
    padding: 16px 16px 24px 16px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 2rem;
    @media (min-width: 60.563em) {
      padding-top: 75px;
      padding-bottom: 75px;
      width: 67.625rem;
      margin: auto;
    }

    .hero_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 10px;

      @media (min-width: 60.563em) {
        justify-content: flex-start;
        column-gap: 1.5rem;
      }
      .image {
        width: 153px;
        position: relative;
        img {
        }

        button {
          position: absolute;
          bottom: 30px;
          left: 1rem;

          outline: none;
          border: none;
          padding: 6px;
          background: var(--clr-f-light);
          border-radius: 8px;

          font-weight: 600;
          font-size: 0.75rem;
          line-height: 15px;
          letter-spacing: 0.0175em;

          display: flex;
          align-items: center;
          column-gap: 2px;
        }
      }
    }

    .hero_btn_1,
    .hero_btn_2 {
      padding: 16px 32px;
      width: fit-content;
      outline: none;
      border: none;
      background: #6600e8;
      border-radius: 8px;
      // margin: auto;

      //Button text
      font-weight: 600;
      font-size: 1rem;
      line-height: 20px;
      letter-spacing: 0.0175em;
      color: var(--cl-light);
    }

    .hero_btn_1 {
      display: none;
      @media (min-width: 60.563em) {
        display: block;
      }
    }

    .hero_btn_2 {
      display: block;
      margin-top: 30px;

      @media (min-width: 60.563em) {
        display: none;
      }
    }
  }

  &__username {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    h2,
    h3 {
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      color: var(--cl-light);
      background-color: var(--cl-dark);
      padding: 8px;
      border-radius: 8px;
      width: fit-content;
      margin: 0;
    }

    h2 {
      font-size: 1.25rem;
      line-height: 25px;
      letter-spacing: 0.005em;
    }

    h3 {
      font-weight: 400;
      font-size: 1rem;
      line-height: 20px;
    }
  }
}

.intro,
.stat,
.feeds {
  @media (min-width: 60.563em) {
    width: 44.5rem;
    margin: auto;
  }
}

.intro {
  color: var(--clr-f-light);
  margin-bottom: 50px;

  h2 {
    color: var(--clr-f-light);
  }

  p {
    line-height: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin-top: 30px;
    column-gap: 34px;
  }

  &__location {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__icons {
    display: flex;
    column-gap: 28px;

    .facebook {
      border: 1px solid var(--clr-f-light);
      border-radius: 5px;
      display: flex;
      padding-top: 2px;
    }
  }
}

.stat {
  margin-bottom: 56px;
  h2 {
  }
  .stats {
    display: grid;
    grid-template-columns: 100%;
    // width: auto;
    row-gap: 28px;

    @media (min-width: 60.563em) {
      align-items: center;
      grid-template-columns: 15.75rem 27.25rem;
      column-gap: 1.5rem;
    }
  }
}

.feeds {
  &__card {
    .trends {
      display: none;

      @media (min-width: 60.563em) {
        display: block;
      }
    }

    @media (min-width: 60.563em) {
      display: grid;
      grid-template-columns: 15.75rem 27.25rem;
      // align-items: baseline;
      column-gap: 1.5rem;
    }
  }
  .btn {
    font-size: 1rem;
    line-height: 20px;
    color: var(--clr-primary);
    background: none;
    border: none;
    margin: auto;
    margin-top: 24px;
    display: block;

    @media (min-width: 60.563em) {
      display: none;
    }
  }
}
