.overallwrapper {
  background: white;
  width: 100%;
  margin-bottom: 48px;
}

.withdrawalaccounttext1 {
  color: black;
  margin-left: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.withdrawal_flex {
  margin-left: 2rem;
  margin-top: 1rem;
}

.withdrawal_flex1 {
  margin-left: 2rem;
}

.withdrawalaccount_con {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  height: 28.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.withdrawalaccount_flex {
  display: flex;
  gap: 0.5rem;
}

.withdrawalaccountinfo {
  color: black;
  margin-top: -0.2rem;
  font-size: 24px;
  font-weight: 2rem;
  font-family: "Source Sans Pro";
}

.withdrawallist {
  color: grey;
}

.withdrawallistul {
  color: grey;
  list-style-type: none;
}

.withdrawallist {
  font-size: 1rem;
}

.withdrawallist1 {
  font-size: 0.8rem;
  color: black;
}

//edit button
.withdrawaleditbtn {
  margin-top: 0.5rem;
  margin-left: 30px;
}

.edit_btn {
  width: 6.7rem;
  height: 2.5rem;
  color: blue;
  background: white;
  border-radius: 0.625rem;
  border-color: blue;
}

@media screen and (min-width: 800px) {

  .withdrawalaccounttext1 {
    margin-left: 18rem;
  }
  .withdrawalaccount_con {
    margin-left: 100px;
    margin-right: 100px;
    height: 15.5rem;
  }

  .withdrawallist {
    font-size: 1rem;
  }

  .withdrawal_flex {
    display: flex;
    gap: 3.8rem;
  }

  .withdrawal_flex1 {
    display: flex;
    gap: 5rem;
  }

  .withdrawaleditbtn {
    position: absolute;
    margin-left: 30rem;
  }
}

// META DATA CODE
.meta_data {
  margin-top: 2rem;
  height: 402px;
  background: white;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.withdrawalaccount_metadata {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
}

.withdrawalmetadata {
  color: black;
  margin-top: -0.2rem;
  font-size: 24px;
  font-weight: 2rem;
  font-family: "Source Sans Pro";
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.0015em;
}

.withdrawalmetadataover {
  margin-left: 3.5rem;
}

.withdrawal_label {
  color: black;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
}

.withdrawal_label1 {
  color: black;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
}

.withdrawal_input {
  background-color: white;
  color: black;
  border-radius: 0.3rem;
  border-color: black;
  height: 2.5rem;
  width: 15.8rem;
}

.withdrawalmetadataover1 {
  margin-left: 3.5rem;
  margin-top: 1rem;
}

.inputbtn {
  display: flex;
}

.withdrawal_input1 {
  background-color: white;
  color: black;
  border-radius: 0.3rem;
  border-color: black;
  width: 9rem;
  height: 2.5rem;
}

.otp_btn {
  width: 8rem;
  height: 2.5rem;
  color: blue;
  background: #ddc8f9;
  border-radius: 0.625rem;
  border: none;
  margin-left: -1rem;
}

.withdrawalcompletebtn {
  margin-top: 1rem;
  margin-left: 1px;
}

.complete_btn {
  width: 7.5rem;
  height: 2.5rem;
  color: white;
  border-radius: 0.625rem;
  border: none;
  background: #6600e8;
}

@media screen and (min-width: 800px) {
  .meta_data {
    margin-left: 100px;
    margin-right: 100px;
    height: 15.5rem;
  }

  .withdrawalmetadataover {
    display: flex;
    margin-top: 2rem;
  }
  .withdrawal_input {
    margin-top: 2rem;
    margin-left: -3.5rem;
  }

  .withdrawalinput_label_con {
    display: flex;
    margin-top: -4rem;
    margin-left: 0.005rem;
  }

  .withdrawal_label1 {
    margin-top: -1.5rem;
    margin-left: 23rem;
  }

  .withdrawal_input1 {
    margin-top: 0.5rem;
  }

  .otp_btn {
    margin-top: 0.5rem;
    width: 5rem;
  }

  .inputbtn {
    margin-left: -1.8rem;
  }
}
