.saleswrapper {
  width: 100%;
  height: 18.375rem;
  background: #434343;
  border-radius: 0.5rem;
  margin-top: 2.938rem;
}

.salestextwrap {
  padding-top: 1rem;
  margin-left: 1.5rem;
  color: white;
}

.sales_image {
  display: flex;
  gap: 12rem;
}

.salestext1 {
  color: white;
}
.salestext2 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  color: white;
}
.salestext3 {
  color: white;
}

.salestext4 {
  color: white;
  margin-top: 1.5rem;
}
.salestext5 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: white;
}

.overallsalesbtn {
  display: flex;
  gap: 3.7rem;
}

.salesbtn1 {
  background-color: #6600e8;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  width: 6rem;
  height: 2rem;
}

.salesbtn2 {
  background-color: grey;
  color: white;
  border-color: gold;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  width: 6rem;
  height: 2rem;
}
