.saleswrapper {
  width: 100%;
  // height: 349px;
  background: #1b1b1b;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.salestextwrap {
  color: white;
}

.sales_image {
  display: flex;
  justify-content: space-between;
}

.salestext1 {
  h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.0015em;
    color: var(--cl-light);
    margin-bottom: 2rem;
  }
}
.salestext2,
.salestext4 {
  margin-bottom: 0.5rem;
  color: white;

  h4 {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--clr-f-light);
  }
}

.salestext3,
.salestext5 {
  p {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.0015em;
    color: var(--cl-light);
  }

  @media (min-width: 60.563em) {
    font-weight: 600;
  }
}

.salestext4 {
  color: white;
  margin-top: 1.5rem;
}

.overallsalesbtn {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  @media (min-width: 60.563em) {
    column-gap: 0.75rem;
  }
}

.salesbtn1,
.salesbtn2 {
  background-color: var(--clr-primary);
  color: var(--cl-light);
  border-radius: 0.5rem;
  padding: 0.875rem 0.8rem;

  font-family: "Source Sans Pro";
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.0175em;
}

.salesbtn1 {
  font-size: 16px;
  border: none;
}

.salesbtn2 {
  font-size: 12px;
  background-color: grey;
  color: white;
  background-color: transparent;
  border: 1px solid var(--clr-warning);
  border-radius: 0.5rem;
}
