.saleswrapper {
  width: 23rem;
  height: 294px;
  background: #434343;
  border-radius: 8px;
  margin-top: 47px;
  // margin-left: 1rem;
}

.salestextwrap {
  padding-top: 0.005rem;
  margin-left: 24px;
  color: white;
}

.salestext1 {
  color: white;
}
.salestext2 {
  margin-bottom: -0.5rem;
  margin-top: 1.5rem;
  color: white;
}
.salestext3 {
  color: white;
}

.salestext4 {
  color: white;
}
.salestext5 {
  margin-top: -1rem;
  margin-bottom: 3rem;
  color: white;
}

.salesbtn1 {
  background-color: grey;
  color: white;
  border-color: gold;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  width: 6rem;
  height: 25px;
}

// .footerbtn1 {
//     margin-right: 1rem;
//   }

//   .footerbtn {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 145px;
//     height: 52px;
//     background: #6600e8;
//     border-radius: 8px;
//     border: none;
//     margin-right: 0.09rem;
//   }
