.wrapper{
    margin: 120px 16px 32px 16px;
    color: var(--clr-f-light) !important;
}

.section_a p{
    letter-spacing: 0.15%;
}

.sectiona_cont{
    display: flex;
    flex-direction: column;
}

.complete{
    position: relative;
}

.complete p{
    position: absolute;
    top: -3.5rem;
    right: 0;
}

/* Target for bigger screens */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progress_wrapper, .beat_wrap{
    width: 100%;
}

.progress_bar {
    width: 100%;
    height: 25px;
    border-radius: 50px;
    border: 2px solid var(--clr-f-light);
    margin-bottom: 40px;
}

.range {
    background: #6600E8;
    height: 100%;
    border-radius: inherit;
    transition: width .3s ease-in;
}

.toggle_buttons button {
    margin: 0 10px;
    padding: 7px 20px;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}

.toggle_buttons button:hover {
    color: white;
    background: #666;
}

.b_img{
    width: 150px;
    border-radius: 5px;
    height: 120px;
    background-color: #666;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image_input input{
    opacity: 0;
    width: 100px;
    padding-left: 1rem;
    position: absolute;

}

.image_btn button{
    position: absolute;
    bottom: 30px;
    left: 1rem;

    outline: none;
    border: none;
    padding: 6px;
    background: var(--clr-f-light);
    border-radius: 8px;

    font-weight: 400;
    font-size: 0.75rem;
    line-height: 10px;
    letter-spacing: 0.0175em;

    display: flex;
    align-items: center;
    column-gap: 2px;

}


/* Form style */

.register_form{
    margin-right: 1rem;
}


.forms{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_group{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.form_group label{
    font-size: 1rem;
    font-weight: normal;
}

.form_group .inputsec input{
    width: 100%;
}



.form_group div input{
    width: 100%;
    height: 1.6rem;
    margin-top: .5rem;
}

.form_group div input, .form_group div select{
    background-color: transparent;
    width: 100%;
    height: 2.2rem;
    border: 1px solid var(--cl-light);
    border-radius: 5px;
    color: var(--clr-f-dark) !important;
    font-size: .8rem;

}

.form_group div input:focus, .form_group div select:focus{
    outline: red;
   
}


.form_groups{
    display: flex;
    gap: .2rem;
    position: relative;
}

.form_check_label{
    font-size: .8rem;
}

.invalid_feedback{
    color: var(--clr-err);
}



.invalid_feedbacks{
    color: var(--clr-err);
    position: absolute;
    top: -1.8rem;
    left: 25px;
    margin-top: 1rem;
    font-size: .8rem;
}
.btn_group{
    display: flex;
    gap: 2rem;
}


.back_btn {
    color: var(--cl-light);
    width: 5rem;
    height: 2.5rem;
    font-size: .8rem;
    font-weight: 500;
    background: var(--cl-btn-brd);
    border-radius: 4px;
    border: 1.5px solid var(--clr-primary);
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
.btn {
    color: var(--cl-light);
    width: 10rem;
    height: 2.5rem;
    font-size: .8rem;
    background: var(--clr-primary);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .btn:hover {
      background: rgba(#1d3557, 0.8);
    }


  