* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

// Styling for the carousel goes here

.splide__track {
  width: 90vw !important;
}
//style for carousel finishes here

