.home {
  background-color: var(--cl-dark);
  padding: 0 1rem;
  overflow: hidden;
  h2 {
    color: var(--cl-light);
  }

  .hero {
    background-image: url('/unsplash_YrtFlrLo2DQ.png');
    padding: 72px 48px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 8px 8px;
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: var(--ft-h3);
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.0015em;
      color: var(--cl-light);
    }

    p {
      font-style: normal;
      font-size: var(--ft-b-sm);
      line-height: 20px;
      align-items: center;
      text-align: center;
      color: #ffffff;
      width: 208px;
      margin: auto;
      margin-bottom: 16px;
    }

    &__search {
      position: relative;

      input {
        padding: 16px;
        background-color: transparent;
        outline: none;
        border: 2px solid var(--cl-light);
        border-radius: 8px;
        width: 100%;
        margin-bottom: 24px;
        color: var(--cl-light);
        // Search Text
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;

        &::-webkit-input-placeholder {
          color: var(--cl-light);
        }
        &:-moz-placeholder {
          color: var(--cl-light);
        }
      }

      .icon {
        position: absolute;
        top: 15px;
        right: 10px;
      }
    }

    button {
      background: #6600e8;
      border-radius: 8px;
      outline: none;
      border: none;
      padding: 1rem 2rem;
      width: 214px;
      margin: auto;

      //Button fonts
      font-weight: 600;
      font-size: 0.8rem;
      line-height: 20px;
      letter-spacing: 0.0175em;
      color: var(--cl-light);
    }
  }

  &__feedtext {
    // margin-bottom: 1rem;
    display: none;
  }

  &__popularuploads {
    margin-top: 60px;
    h2 {
      margin-bottom: 1rem;
    }
  }

  &__wrapperone {
    display: none;
  }
}

@media (min-width: 48rem) {
  .home {
    &__bodywrap {
      width: 80%;
      margin: 0 auto;
    }
    &__wrapper {
      display: flex;
      gap: 2rem;
      flex-direction: row;
    }

    &__wrapperone {
      display: flex;
      flex-direction: column;
    }
    &__feedtext {
      margin-bottom: 1rem;
      display: block;
    }
  }
}

@media (min-width: 64rem) {
  .home {
    &__bodywrap {
      width: 80%;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    &__wrapper {
      width: 100%;
      justify-content: space-around;
    }

    &__wrappertwo {
      flex: 1.5;
    }
    &__wrapperone {
      flex: 1.5;
    }
  }
}
